@model IEnumerable<dynamic>

@{
    ViewBag.Title = "Sales By Year and Month";
}

<h2>Sales by Year and Month</h2>

<table class="table">
    <thead>
    <tr>
        <th>Year</th>
        <th>Month</th>
        <th>Total Sales</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Year</td>
            <td>@item.Month</td>
            <td>@item.TotalSales</td>
        </tr>
    }
    </tbody>
</table>